.userRespomsive{
    overflow-x: auto;
    width: 100%;
}

.userRespomsive > table {
    width: 100%;
}

.ggg{
    min-width: 200px;
}


.your-orders{
    background-color: rgb(120, 185, 136);
    padding: 30px;
   /* max-width: 100%; */
   min-height: 100vh;
   color: white !important;
}
.your-orders > h5{
    text-align: center;
padding: 10px 10px;
}

.your-order{
    background-color: white;
    margin: 15px 0;
    padding: 20px 0;
    border-radius: 10px;
    color: black;
    
    
    
}
.your-order > .bb {
    color : green;
    font-size: 1.2rem;
    
}
.your-order > .cc {
    color : red;
    font-size: 1.2rem;
    
}
/* .payment{
    color: blue;
    font-size: large;
    font-weight: 500;
} */


@media screen and (max-width:899px) {

    .your-orders{
        max-width: 100vw !important;
        padding: 10px;
    }
    .your-order{
        
        background-color: white;
        margin: 15px 0;
        padding: 20px 0;
        border-radius: 10px; 
        overflow-x: auto;
        
        
    }
    .your-order .aa{
        min-width: 850px !important;
              
    }
    .your-order .ee{
        min-width: 850px !important;
    
     
    }
}

@media screen and (min-width:900px) {
    
    .your-order{
        background-color: white;
        margin: 15px auto;
        padding: 20px 0;
        border-radius: 10px;
        width: 75%;
        
        
    }
}