.addProduct{
    padding-top: 30px;
 }
 
 .addpro{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .product_image{
    width: 10.5rem;
 }

.oo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-quantity-main{
    display: flex;
/* justify-content: space-around; */
align-items: flex-end;
gap: 15px;
}
.edit-quantity{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}
.edit-quantity input{
    border: 1px solid black;
    width: 70px;
    margin: 0 10px;
    padding: 0 5px;

}
.edit-quantity i{
    background-color: aquamarine;
    padding: 7px;
    border-radius: 60%;
}
.edit-quantity i:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}


.addProduct table {
    color: white;
}
 @media (max-width: 767px) {
     .addpro{
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
         gap: 15px;
     }
 }

 @media (max-width: 1200px) {
    .addProduct{
        min-width: 100% !important;
     }
}